<div class="order-book mb15">
  <h2 class="heading">Order Book</h2>
  <table class="table" *ngIf="allOrders$ | async as allOrders">
    <thead>
      <tr>
        <th>{{ symbols[0] }}</th>
        <th>{{ symbols[0] }}/{{ symbols[1] }}</th>
        <th>{{ symbols[1] }}</th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="let order of allOrders.sellOrders; let i = index"
        [ngClass]="'red-bg' + getSellOrderShadow(i)"
        (click)="fillOrder(order)"
      >
        <td class="red">{{ order.token0Amount }}</td>
        <td>{{ order.tokenPrice }}</td>
        <td>{{ order.token1Amount }}</td>
      </tr>
    </tbody>
    <tbody class="ob-heading">
      <tr>
        <td>
          <span>{{ symbols[0] }}</span>
        </td>
        <td>
          <span class="pairs">{{ symbols[0] }}/{{ symbols[1] }}</span>
        </td>
        <td>
          <span>{{ symbols[1] }}</span>
        </td>
      </tr>
    </tbody>
    <tbody>
      <tr
        *ngFor="let order of allOrders.buyOrders; let i = index"
        [ngClass]="'green-bg' + getSellOrderShadow(i)"
        (click)="fillOrder(order)"
      >
        <td class="green">{{ order.token0Amount }}</td>
        <td class="pairs-amount">{{ order.tokenPrice }}</td>
        <td>{{ order.token1Amount }}</td>
      </tr>
    </tbody>
  </table>
</div>
