<div class="main-chart mt15">
  <h2 class="heading">Liquidity Pools</h2>
  <div>
    <ul
      class="settings-nav nav nav-pills nav-tabs"
      style="overflow: auto; height: 88vh"
    >
      <li
        class="nav-item"
        *ngFor="let signal of signals"
        (click)="selectSignal(signal)"
      >
        <div
          class="nav-link d-flex justify-content-between align-items-center active l-pool"
          role="tab"
          aria-controls="coinBTC"
          aria-selected="true"
        >
          <div class="d-flex">
            <img
              class="token-img"
              src="https://eodhistoricaldata.com/img/logos/US/{{
                signal.symbol.toLowerCase()
              }}.png"
              appImgFallback="https://eodhistoricaldata.com/img/logos/US/{{
                signal.symbol.toUpperCase()
              }}.png"
              alt="btc"
            />
            <div>
              <h2>{{ signal.symbol }}</h2>
              <p>Get PCHO by joining liquidity pool</p>
            </div>
          </div>
          <div>
            <h3>1</h3>
            <p class="text-end"><i class="icon ion-md-lock"></i> Per Block</p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
