<div class="main-chart mt15">
  <h2 class="heading">Liquidity Pools</h2>
  <div>
    <ul
      class="settings-nav nav nav-pills nav-tabs"
      style="overflow: auto; height: 88vh"
    >
      <li class="nav-item" *ngFor="let signal of signals">
        <a
          href="https://throbbing-hat-4928.on.fleek.co/"
          rel="noopener noreferrer"
          target="_blank"
          class="nav-link d-flex justify-content-between align-items-center active l-pool"
          role="tab"
          aria-controls="coinBTC"
          aria-selected="true"
        >
          <div class="d-flex">
            <img
              class="token-img"
              src="../../../assets/img/icon/1.png"
              alt="btc"
            />
            <div>
              <h2>{{ signal.symbol }}</h2>
              <p>Get PCHO by joining liquidity pool</p>
            </div>
          </div>
          <div>
            <h3>1</h3>
            <p class="text-end"><i class="icon ion-md-lock"></i> Per Block</p>
          </div>
        </a>
      </li>
    </ul>
  </div>
</div>
