<div *ngIf="chainId$ | async as chainId; else notDeployed">
  <div class="market-pairs">
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-sm">
          <i class="icon ion-md-search"></i>
        </span>
      </div>
      <input
        type="text"
        class="form-control"
        placeholder="Search"
        aria-describedby="inputGroup-sizing-sm"
      />
    </div>
    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item" role="presentation">
        <button
          class="nav-link"
          id="favorites-id"
          data-bs-toggle="tab"
          data-bs-target="#favorites"
          type="button"
          role="tab"
          aria-controls="favorites"
          aria-selected="true"
        >
          ★
        </button>
      </li>
      <li class="nav-item" role="presentation">
        <button
          class="nav-link active"
          id="btc-id"
          data-bs-toggle="tab"
          data-bs-target="#btc"
          type="button"
          role="tab"
          aria-controls="btc"
          aria-selected="false"
        >
          JEDY
        </button>
      </li>
      <li class="nav-item" role="presentation">
        <button
          class="nav-link"
          id="kcs-id"
          data-bs-toggle="tab"
          data-bs-target="#kcs"
          type="button"
          role="tab"
          aria-controls="kcs"
          aria-selected="false"
        >
          CHIH
        </button>
      </li>
    </ul>
    <div class="tab-content" id="myTabContent">
      <div
        class="tab-pane fade show active"
        id="btc"
        role="tabpanel"
        aria-labelledby="btc-id"
      >
        <table class="table">
          <thead>
            <tr>
              <th>Pairs</th>
              <th>Last Price</th>
              <th>Change</th>
            </tr>
          </thead>
          <tbody>
            <tr
              class="token-pair"
              (click)="
                changeTokenPair(
                  [
                    configContractsSettings[chainId].PCHO.address,
                    configContractsSettings[chainId].JEDY.address
                  ],
                  chainId,
                  contracts.provider
                )
              "
            >
              <td><i class="icon ion-md-star"></i> PCHO / JEDY</td>
              <td>0.00020255</td>
              <td class="red">-2.58%</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div
        class="tab-pane fade"
        id="kcs"
        role="tabpanel"
        aria-labelledby="kcs-id"
      >
        <table class="table">
          <thead>
            <tr>
              <th>Pairs</th>
              <th>Last Price</th>
              <th>Change</th>
            </tr>
          </thead>
          <tbody>
            <tr
              class="token-pair"
              (click)="
                changeTokenPair(
                  [
                    configContractsSettings[chainId].PCHO.address,
                    configContractsSettings[chainId].CHIH.address
                  ],
                  chainId,
                  contracts.provider
                )
              "
            >
              <td><i class="icon ion-md-star"></i> PCHO / CHIH</td>
              <td>0.00020255</td>
              <td class="green">+1.58%</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <ng-container *ngIf="exchangeBalances$ | async as exchangeBalances">
    <div *ngIf="token$ | async as token">
      <div class="carousel-cell">
        <div class="market-carousel-item">
          <div class="market-carousel-item-name">
            <img src="../../../assets/img/icon/1.png" alt="" />
            <strong>{{ token.symbols[0] }}</strong>
          </div>
          <h2>Wallet {{ token.balances[0] }} {{ token.symbols[0] }}</h2>
          <p>Exchange {{ exchangeBalances[0] }}</p>
          <div class="input-group mb-3">
            <span class="input-group-text" id="inputGroup-sizing-default">{{
              token.symbols[0]
            }}</span>
            <input
              type="text"
              class="form-control"
              aria-label="Sizing example input"
              aria-describedby="inputGroup-sizing-default"
              [(ngModel)]="token1TransferAmount"
            />
          </div>
          <a routerLink="/wallet"
            ><button
              (click)="deposit(contracts.token1, token1TransferAmount)"
              class="btn buy"
            >
              Deposit
            </button></a
          >
          <a routerLink="/wallet"><button class="btn sell">Withdraw</button></a>
        </div>
      </div>
      <div class="carousel-cell">
        <div class="market-carousel-item">
          <div class="market-carousel-item-name">
            <img src="../../../assets/img/icon/5.png" alt="" />
            <strong>{{ token.symbols[1] }}</strong>
          </div>
          <h2>Wallet {{ token.balances[1] }} {{ token.symbols[1] }}</h2>
          <p>Exchange {{ exchangeBalances[1] }}</p>
          <div class="input-group mb-3">
            <span class="input-group-text" id="inputGroup-sizing-default">{{
              token.symbols[1]
            }}</span>
            <input
              type="text"
              class="form-control"
              aria-label="Sizing example input"
              aria-describedby="inputGroup-sizing-default"
              [(ngModel)]="token2TransferAmount"
            />
          </div>
          <a routerLink="/wallet"
            ><button
              (click)="deposit(contracts.token2, token2TransferAmount)"
              class="btn buy"
            >
              Deposit
            </button></a
          >
          <a routerLink="/wallet"><button class="btn sell">Withdraw</button></a>
        </div>
      </div>
    </div>
  </ng-container>
</div>

<ng-template #notDeployed>Not connected</ng-template>
