<div class="market-trade">
  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
      <button
        class="nav-link active"
        id="limit-tab"
        data-bs-toggle="tab"
        data-bs-target="#limit"
        type="button"
        role="tab"
        aria-controls="limit"
        aria-selected="true"
      >
        Limit
      </button>
    </li>
  </ul>
  <div class="tab-content" id="myTabContent">
    <div
      class="tab-pane fade show active"
      id="limit"
      role="tabpanel"
      aria-labelledby="limit-tab"
    >
      <div class="d-flex justify-content-between">
        <div class="market-trade-buy">
          <div class="input-group">
            <input
              type="number"
              [(ngModel)]="orderBuyPrice"
              class="form-control"
              placeholder="Price"
              required
            />
            <div class="input-group-append">
              <span class="input-group-text">{{ symbols[0] }}</span>
            </div>
          </div>
          <div class="input-group">
            <input
              type="number"
              [(ngModel)]="orderBuyAmount"
              class="form-control"
              placeholder="Amount"
              required
            />
            <div class="input-group-append">
              <span class="input-group-text">{{ symbols[1] }}</span>
            </div>
          </div>
          <button (click)="buyOrder()" type="submit" class="btn buy">
            Buy
          </button>
        </div>
        <div class="market-trade-sell">
          <div class="input-group">
            <input
              type="number"
              class="form-control"
              placeholder="Price"
              [(ngModel)]="orderSellPrice"
              required
            />
            <div class="input-group-append">
              <span class="input-group-text">{{ symbols[0] }}</span>
            </div>
          </div>
          <div class="input-group">
            <input
              type="number"
              class="form-control"
              placeholder="Amount"
              [(ngModel)]="orderSellAmount"
              required
            />
            <div class="input-group-append">
              <span class="input-group-text">{{ symbols[1] }}</span>
            </div>
          </div>
          <button (click)="sellOrder()" class="btn sell">Sell</button>
        </div>
      </div>
    </div>
  </div>
</div>
