<div class="container-fluid mtb15 no-fluid">
  <div class="row sm-gutters">
    <div
      class="col-sm-12 col-md-3"
      style="background-color: rgb(126, 126, 185)"
    >
      <!-- app-market-pairs -->
      <app-market-pairs
        [contracts]="contracts"
        [transferInProgress]="transferInProgress$ | async"
      ></app-market-pairs>
    </div>
    <div class="col-sm-12 col-md-6">
      <div class="darkMode">
        <app-trading-chart></app-trading-chart>
      </div>
      <div class="lightMode">
        <!-- <app-trading-dark-chart></app-trading-dark-chart> -->
      </div>

      <app-market-trade [contracts]="contracts"></app-market-trade>
    </div>
    <div class="col-md-3">
      <app-order-book></app-order-book>
      <app-market-history></app-market-history>
    </div>
    <div class="col-md-3">
      <div>app-market-news</div>
      <!-- <app-market-news></app-market-news> -->
    </div>
    <div class="col-md-9">
      <!-- <div>app-history-order</div> -->
      <app-history-order></app-history-order>
    </div>
  </div>
</div>
